.calc-wrap {
    background-color: rgb(68, 68, 68);
    padding: 10px;
    border-radius: 5px;
}

.calc-screen {
    background-color: black;
    border: solid 2px rgb(43, 43, 43);
    min-height: 50px;
    margin: 5px;
    padding: 5px;
    text-align: right;
    border-radius: 5px;
    color: green;
    font-size: 25px;
    height: fit-content;
}

.button-wrap {
    margin: 5px;
    padding: 5px;
    background-color: rgb(43, 43, 43);
    border-radius: 5px;
}

.button-row {
    padding: 5px;
}

button {
    font-size: 1.5em;
}