.clock-flex-wrap {
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    border: solid rgb(49, 20, 20) 4px;
    border-radius: 10px;
    background-color: rgb(83, 70, 70);
    color: white;
    width: fit-content;
    padding: 1rem;
}

.colon {
    padding: 0 5px 0 5px;
}