.clock-flex-wrap {
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    border: solid rgb(24, 24, 24) 8px;
    border-radius: 20px;
    background-color: rgb(45, 53, 56);
    color: white;
    width: 150px;
    height: auto;
    padding: 1rem;
    margin: 15px;
}

.colon {
    padding: 0 5px 0 5px;
}

.back-button {
    background-color: green;
    border-radius: 5px;
    padding: 10px 20px;
    border: solid 2px white;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background-color: rgb(238, 238, 238);
}

nav {
    background-color: rgb(36, 36, 37);
    width: fit-content;
    padding: 1%;
    border-radius: 5px;
    border: solid 2px rgb(17, 17, 17);
}

ul {
    list-style: none;
    padding: 10px 5px;
}

li {
    background-color: rgb(17, 17, 17);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
}