@import url(/css/clock.css);
@import url(/css/calc.css);

.background {
    background-color: white;
    width: fit-content;
    padding: 5px;
    margin: 15px 0;
}

.back-button {
    background-color: rgb(36, 36, 37);
    border-radius: 5px;
    padding: 10px 20px;
    border: solid 2px white;
}

a {
    color: white;
    text-decoration: none;
}

p {
    margin: 0;
}

body {
    background-color: rgb(238, 238, 238);
    margin: 15px;
}

nav {
    background-color: rgb(36, 36, 37);
    width: fit-content;
    padding: 1%;
    border-radius: 5px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px 5px;
}

li {
    background-color: rgb(17, 17, 17);
    border: solid 1px white;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 20px;
}